:root {
	color-scheme: light;
	--app-height: 100%;
	--ctrl-height: 0px;
	--sidebar-size: 30px;
	--footer-size: 7px;
	--navbar-size: 46px;
	--runner-scale: 1;
}

@font-face {
	font-family: "KodeMono";
	src: url("../../fonts/KodeMono-Bold.woff2") format("woff2");
}

.big-clock {
	font-family: "KodeMono", monospace;
	font-variant-numeric: tabular-nums;
	line-height: 1em;
}

.big-clock > .time {
	font-size: 0.9em;
}

.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.sidebar {
	position: fixed;
	top: var(--navbar-size);
	bottom: calc(var(--footer-size) + var(--ctrl-height));
	left: 0;
	z-index: 10001;
	display: block;
	padding: 5px;
	padding-right: var(--sidebar-size);
	overflow-x: hidden;
	overflow-y: hidden; /* Scrollable contents if viewport is shorter than content. */
	background-color: var(--bs-secondary-bg-subtle);
	border-left: 1px solid rgba(0, 0, 0, 0.125);
}

#permanent-sidebar {
	width: var(--sidebar-size);
	padding: 0 1px;
	position: fixed;
	top: var(--navbar-size);
	bottom: calc(var(--footer-size) + var(--ctrl-height));
	right: 0;
	z-index: 10002;
	background-color: var(--bs-secondary-bg);
	border-left: 1px solid rgba(0, 0, 0, 0);
}

#permanent-sidebar div:has(> .btn.active) {
	background-color: var(--bs-secondary-bg-subtle) !important;
	margin-left: -2px !important;
	margin-right: -2px !important;
	padding-left: 2px;
	padding-right: 2px;
}

#permanent-sidebar.no-sidebar {
	border-left: 1px solid rgba(0, 0, 0, 0.125);
}

.main.no-sidebar {
	right: var(--sidebar-size);
	width: calc(100% - var(--sidebar-size));
}

.tooltip {
	z-index: 10001;
}
.no-competitor-warning {
	height: calc(
		100vh -
		13px -
		var(--navbar-size) -
		var(--footer-size) -
		var(--ctrl-height)
	);
}
.sidebar #competitorList {
	overflow-y: auto;
	display: block !important;
	max-height: calc(
		var(--app-height) -
		47px -
		var(--navbar-size) -
		var(--footer-size) -
		var(--ctrl-height)
	);
}

.sidebar #competitorList.without-competitor {
	max-height: calc(
		var(--app-height) -
		13px -
		var(--navbar-size) -
		var(--footer-size) -
		var(--ctrl-height)
	);
}

.sidebar #optionsSidebar {
	max-height: calc(
		var(--app-height) -
		8px -
		var(--navbar-size) -
		var(--footer-size) -
		var(--ctrl-height)
	);
}

.time_bar {
	position: absolute;
	padding-top: 5px;
	bottom: 0px;
	left: 0px;
	height: calc(var(--footer-size) + var(--ctrl-height));
	background-color: var(--bs-secondary-bg);
	border-top: 1px solid rgba(0, 0, 0, 0.125);
}

#full_progress_bar {
	background-color: var(--bs-dark-bg-subtle);
}
#play_pause_button > small {
	font-size: 0.7em;
}
.time_bar.loading {
	display: none;
}

/* Sidebar navigation */
.nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
}

.nav-sidebar > li > a {
	padding-right: 20px;
	padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
	color: #fff;
	background-color: #428bca;
}

.main {
	position: fixed;
	top: var(--navbar-size);
	bottom: calc(var(--footer-size) + var(--ctrl-height));
	right: 0px;
	left: 0px;
}

.sidebar.loading,
#permanent-sidebar.loading,
.main.loading {
	bottom: calc(var(--footer-size) - 11px);
}

#permanent-sidebar {
	display: block;
}
#permanent-sidebar.loading {
	display: none;
}

.main-alerts {
	position: fixed;
	top: var(--navbar-size);
	right: 0px;
	left: 0px;
}

.main .page-header .main-alerts {
	margin-top: 0;
}

.runner-icon-dark {
	color: #000;
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0
		#fff;
}

.runner-icon.runner-focused > span {
	padding: 0px 5px;
	background: #fff;
	outline: 2px solid #000;
	border-radius: 5px;
}

.runner-icon-light {
	color: #fff;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0
		#000;
}

#progress_bar {
	overflow: initial;
}

.fa-circle.fa-3x.icon-sidebar {
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.125), 1px -1px 0 rgba(0, 0, 0, 0.125),
		-1px 1px 0 rgba(0, 0, 0, 0.125), 1px 1px 0 rgba(0, 0, 0, 0.125);
}

.runner-icon span {
	font-family: "Atkinson Hyperlegible", sans-serif;
	font-size: calc(var(--runner-scale) * 1rem);
	font-weight: 700;
	padding: 0 15px;
	white-space: nowrap;
}

.runner-icon.flags-polyfill span {
	font-family: "Twemoji Country Flags", "Atkinson Hyperlegible", sans-serif;
}

.runner-dot {
	border-radius: 50%;
	width: calc(var(--runner-scale) * 15px);
	height: calc(var(--runner-scale) * 15px);
	border: 2px solid black;
}

.runner-focused {
	z-index: 100000 !important;
}

.runner-dot.runner-focused {
	border: 3px solid black;
}

.close {
	margin-bottom: 3px;
}

.modal-backdrop,
#future-event-modal,
#loading-event-modal,
#color-modal {
	top: var(--navbar-size);
}

.navbar {
	z-index: 1000000;
}

.leaflet-left.has-leaflet-pan-control .leaflet-control-rotate {
	position: relative;
	left: 18px;
}

.time_bar .btn-secondary:focus {
	box-shadow: none;
}

.btn:focus {
	outline: none;
	box-shadow: none;
}

.btn-group > .btn-group:not(:first-child),
.btn-group > .btn:not(:first-child) {
	margin-left: -4px;
}

.speedometer,
.odometer {
	font-feature-settings: "tnum";
	font-variant-numeric: tabular-nums;
	color: RGBA(var(--bs-body-color-rgb), 0.5);
	font-size: 0.6em;
}

#live_button.btn-secondary {
	background-color: #8e1600;
	border-color: #8e1600;
}

.leaflet-control-zoom-out,
.leaflet-control-zoom-in {
	user-select: none;
	-webkit-user-select: none;
}

.route-displayed .focused i,
.route-displayed .highlighted i {
	color: #20c997;
}

.competitor-card button:disabled,
.competitor-card button[disabled] {
	border-color: transparent;
}

.btn-group-xs > .btn,
.btn-xs {
	padding: 0.2rem 0.25rem;
	font-size: 0.9rem;
	line-height: 1.1;
	border-radius: 0.2rem;
}

.leaflet-control-layers-selector {
	box-sizing: border-box;
	appearance: none;
	outline: none;
	background: white;
	border: 2px solid white;
	border-radius: 5px;
	width: 14px;
	height: 14px;
	vertical-align: -1px;
	margin: 3px 3px 0 0;
	box-shadow: 0 0 0 2px #ccc;
	cursor: pointer;
}

.leaflet-control-layers-selector:checked {
	background: #0d6efd;
	box-shadow: 0 0 0 2px #0d6efd;
}

.leaflet-control-layers-base > label > span {
	cursor: pointer;
}

.competitor-switch {
	cursor: pointer;
}

.leaflet-control-locate {
	width: 0;
	height: 0;
	display: none;
}

.leaflet-touch .leaflet-control-pan-right-wrap {
	left: 40px;
}
.leaflet-touch .leaflet-control-pan-up-wrap {
	left: 20px;
}
.leaflet-touch .leaflet-control-pan-down-wrap {
	left: 20px;
}

#permanent-sidebar .btn {
	border-width: 0px;
	padding: 1px;
}
#permanent-sidebar .btn.active {
	color: #20c997;
}

#permanent-sidebar .bottom-btn {
	position: fixed;
	bottom: calc(var(--footer-size) + var(--ctrl-height));
}

.higher-z-index {
	z-index: 10003;
}

.cd-nb {
	font-variant-numeric: tabular-nums;
}
.powered-vert {
	writing-mode: vertical-rl;
	transform: scale(-1, -1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
	margin-left: -1px;
	font-size: 0.8em;
}
.powered-vert:hover {
	background: rgba(0, 0, 0, 0.125);
}
@media (max-height: 460px) {
	.powered-vert {
		display: none !important;
	}
}

.blink {
	animation: blinker 1.5s step-start infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

.leaflet-control-layers {
	user-select: none;
	-webkit-user-select: none;
}

.qr-code {
	mix-blend-mode: color-burn;
}

[data-bs-theme="dark"] .qr-code {
	mix-blend-mode: exclusion;
	filter: invert(1);
}

.map-marker,
.distance-marker {
	background-image: url(../../img/markers-sprite.png);
	background-repeat: no-repeat;
	background-position: left top;
	z-index: -1 !important;
}

.map-marker.start-icon {
	background-position: 0 -144px;
}

.map-marker.end-icon {
	background-position: -24px -144px;
}
.map-marker.waypoint {
	background-position: -48px -144px;
}
.map-marker.waypoint.red {
	background-position: 0px -168px;
}
.map-marker.waypoint.green {
	background-position: 0px -144px;
}
.map-marker.waypoint.orange {
	background-position: -24px -168px;
}
.map-marker.waypoint.dark-green {
	background-position: -48px -168px;
}
.map-marker.waypoint.blue {
	background-position: -72px -168px;
}
.map-marker.waypoint.gray,
.map-marker.waypoint.grey {
	background-position: -96px -168px;
}
.distance-marker.d1 {
	background-position: 0px 0px;
}
.distance-marker.d2 {
	background-position: -24px 0px;
}
.distance-marker.d3 {
	background-position: -48px 0px;
}
.distance-marker.d4 {
	background-position: -72px 0px;
}
.distance-marker.d5 {
	background-position: -96px 0px;
}
.distance-marker.d6 {
	background-position: -120px 0px;
}
.distance-marker.d7 {
	background-position: -144px 0px;
}
.distance-marker.d8 {
	background-position: -168px 0px;
}
.distance-marker.d9 {
	background-position: -192px 0px;
}
.distance-marker.d10 {
	background-position: -216px 0px;
}
.distance-marker.d15 {
	background-position: 0px -24px;
}
.distance-marker.d20 {
	background-position: -24px -24px;
}
.distance-marker.d25 {
	background-position: -48px -24px;
}
.distance-marker.d30 {
	background-position: -72px -24px;
}
.distance-marker.d35 {
	background-position: -96px -24px;
}
.distance-marker.d45 {
	background-position: -120px -24px;
}
.distance-marker.d50 {
	background-position: -144px -24px;
}
.distance-marker.d55 {
	background-position: -168px -24px;
}
.distance-marker.d60 {
	background-position: -192px -24px;
}
.distance-marker.d65 {
	background-position: -216px -24px;
}
.distance-marker.d70 {
	background-position: -240px -24px;
}
.distance-marker.d75 {
	background-position: -264px -24px;
}
.distance-marker.d80 {
	background-position: -288px -24px;
}
.distance-marker.d85 {
	background-position: -312px -24px;
}
.distance-marker.d90 {
	background-position: -336px -24px;
}
.distance-marker.d95 {
	background-position: -360px -24px;
}
.distance-marker.d100 {
	background-position: 0px -48px;
}
.distance-marker.d110 {
	background-position: -24px -48px;
}
.distance-marker.d120 {
	background-position: -48px -48px;
}
.distance-marker.d130 {
	background-position: -72px -48px;
}
.distance-marker.d140 {
	background-position: -96px -48px;
}
.distance-marker.d150 {
	background-position: -120px -48px;
}
.distance-marker.d160 {
	background-position: -144px -48px;
}
.distance-marker.d170 {
	background-position: -168px -48px;
}
.distance-marker.d180 {
	background-position: -192px -48px;
}
.distance-marker.d190 {
	background-position: -216px -48px;
}
.distance-marker.d200 {
	background-position: -240px -48px;
}
.distance-marker.d210 {
	background-position: -264px -48px;
}
.distance-marker.d220 {
	background-position: -288px -48px;
}
.distance-marker.d230 {
	background-position: -312px -48px;
}
.distance-marker.d240 {
	background-position: -336px -48px;
}
.distance-marker.d250 {
	background-position: -360px -48px;
}
.distance-marker.d260 {
	background-position: -384px -48px;
}
.distance-marker.d270 {
	background-position: -408px -48px;
}
.distance-marker.d280 {
	background-position: 0px -72px;
}
.distance-marker.d290 {
	background-position: -24px -72px;
}
.distance-marker.d300 {
	background-position: -48px -72px;
}
.distance-marker.d310 {
	background-position: -72px -72px;
}
.distance-marker.d320 {
	background-position: -96px -72px;
}
.distance-marker.d330 {
	background-position: -120px -72px;
}
.distance-marker.d340 {
	background-position: -144px -72px;
}
.distance-marker.d350 {
	background-position: -168px -72px;
}
.distance-marker.d360 {
	background-position: -192px -72px;
}
.distance-marker.d370 {
	background-position: -216px -72px;
}
.distance-marker.d380 {
	background-position: -240px -72px;
}
.distance-marker.d390 {
	background-position: -264px -72px;
}
.distance-marker.d400 {
	background-position: -288px -72px;
}
.distance-marker.d410 {
	background-position: -312px -72px;
}
.distance-marker.d420 {
	background-position: -336px -72px;
}
.distance-marker.d430 {
	background-position: -360px -72px;
}
.distance-marker.d440 {
	background-position: -384px -72px;
}
.distance-marker.d450 {
	background-position: -408px -72px;
}
.distance-marker.d460 {
	background-position: 0px -96px;
}
.distance-marker.d470 {
	background-position: -24px -96px;
}
.distance-marker.d480 {
	background-position: -48px -96px;
}
.distance-marker.d490 {
	background-position: -72px -96px;
}
.distance-marker.d500 {
	background-position: -96px -96px;
}
.distance-marker.warning {
	background-position: -192px -144px;
}
.distance-marker.red {
	background-position: -216px -144px;
}
.distance-marker.green {
	background-position: -240px -144px;
}
.map-marker.cat1 {
	background-position: -264px -144px;
}
.map-marker.cat2 {
	background-position: -288px -144px;
}
.map-marker.cat3 {
	background-position: -312px -144px;
}
.map-marker.cat4 {
	background-position: -336px -144px;
}
.map-marker.cathc {
	background-position: -360px -144px;
}
