{% extends "dashboard/home.html" %}
{% load compress django_bootstrap5 hosts static %}
{% block sub_content %}
    <h1><i class="fa-solid fa-circle-user"></i> Account Settings</h1>
    <ul class="nav nav-tabs mb-3">
        <li>
            <a class="flex-sm-fill text-sm-center nav-link {% if request.resolver_match.view_name == 'account_edit_view' %}active{% endif %}"
               href="{% url 'account_edit_view' %}"><i class="fa-solid fa-user"></i> Your Details</a>
        </li>
        <li>
            <a class="flex-sm-fill text-sm-center nav-link {% if request.resolver_match.view_name == 'account_email_list' %}active{% endif %}"
               href="{% url 'account_email_list' %}"><i class="fa-solid fa-envelope"></i> Email Addresses</a>
        </li>
        <li>
            <a class="flex-sm-fill text-sm-center nav-link {% if request.resolver_match.view_name == 'account_password_change_view' %}active{% endif %}"
               href="{% url 'account_password_change_view' %}"><i class="fa-solid fa-key"></i> Password</a>
        </li>
        <li>
            <a class="flex-sm-fill text-sm-center nav-link {% if request.path|slice:':13' == '/account/mfa/' %}active{% endif %}"
               href="{% url 'kagi:two-factor-settings' %}"><i class="fa-solid fa-shield-halved"></i> Two-Factor Authentication</a>
        </li>
        <li>
            <a class="flex-sm-fill text-sm-center nav-link {% if request.resolver_match.view_name == 'account_session:list_view' %}active{% endif %}"
               href="{% url 'account_session:list_view' %}"><i class="fa-regular fa-window-restore"></i> Sessions</a>
        </li>
    </ul>
    {% block sub_sub_content %}
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary mb-1 me-1" id="submit-btn">
                <i class="fa-solid fa-floppy-disk"></i> Save
            </button>
            <a href="{% url 'account_delete_view' %}"
               class="btn btn-danger mb-1"><i class="fa-solid fa-trash-can"></i> Delete account</a>
        </form>
    {% endblock sub_sub_content %}
{% endblock sub_content %}

{% block extra_body %}
    {% compress js %}
        <script src="{% static 'vendor/umbrella-3.3.1/umbrella.min.js' %}"></script>
        <script src="{% static 'scripts/submit-form-commons.js' %}"></script>
    {% endcompress %}
{% endblock extra_body %}
