{% extends "dashboard/home.html" %}
{% load compress django_bootstrap5 hosts static %}
{% block extra_head %}
    {{ block.super }}
    {% compress css %}
        <link rel="stylesheet"
              href="{% static 'vendor/tom-select-2.0.1/tom-select.bootstrap5.min.css' %}" />
        <link rel="stylesheet" href="{% static 'styles/dashboard/grow.css' %}" />
    {% endcompress %}
{% endblock extra_head %}

{% block sub_content %}
    <div class="row">
        <div class="col-12">
            <h1>
                <img src="{% if club.logo %}{{ club.logo_url }}{% else %}{% static 'img/club-default.png' %}{% endif %}"
                     width="80"
                     height="80"
                     alt="Club {{ club.name }} Logo"
                     class="rounded">
                {{ club.name }}
            </h1>
        </div>
    </div>
    {% if not club.upgraded and not club.o_club %}
        <p class="p-1 text-center"
           style="color: #000;
                  background: linear-gradient(120deg, #98d6a6 0%, #98cdd6 100%)">
            {% if club.free_trial_active %}
                You are enjoying a 10 days free trial,
            {% else %}
                The 10 days free trial has now expired,
            {% endif %}
            <a href="{% url 'dashboard_club:upgrade_view' club_slug=request.club.slug %}"
               style="color:var(--bs-info)"
               class="fw-bold">Upgrade to our paid plan!</a>
        </p>
    {% endif %}
    {% if club.o_club and not club.upgraded %}
        <p class="p-1 text-center"
           style="color: #000;
                  background: linear-gradient(120deg, #98d6a6 0%, #98cdd6 100%)">
            You are registered as an orienteering club, you can enjoy the site for free until January 1st 2026.
            <a href="{% url 'dashboard_club:upgrade_view' club_slug=request.club.slug %}"
               style="color:var(--bs-info)"
               class="fw-bold">Upgrade to our paid plan</a>!
        </p>
    {% endif %}
    {% if club.upgraded and club.subscription_paused %}
        <p class="p-1 text-center"
           style="color: #000;
                  background: linear-gradient(120deg, #98d6a6 0%, #98cdd6 100%)">
            Your subscription is currently paused.
            <a href="https://app.lemonsqueezy.com/my-orders" style="color:var(--bs-info)" target="_blank" rel="nofollow noopener">Resume your subscription</a> to re-enable all features.
        </p>
    {% endif %}
    {% block pre_menu_content %}
        <ul class="nav nav-tabs mb-3">
            <li>
                <a class="flex-sm-fill text-sm-center nav-link {% if request.resolver_match.view_name == 'dashboard_club:edit_view' %}active{% endif %}"
                   href="{% url 'dashboard_club:edit_view' club_slug=request.club.slug %}"><i class="fa-solid fa-house-flag"></i> Organisation Info</a>
            </li>
            <li>
                <a class="flex-sm-fill text-sm-center nav-link {% if request.resolver_match.view_name|slice:':22' == 'dashboard_club:device:' %}active{% endif %}"
                   href="{% url 'dashboard_club:device:list_view' club_slug=request.club.slug %}"><i class="fa-solid fa-mobile-screen-button"></i> Devices</a>
            </li>
            <li>
                <a class="flex-sm-fill text-sm-center nav-link {% if request.resolver_match.view_name|slice:':19' == 'dashboard_club:map:' %}active{% endif %}"
                   href="{% url 'dashboard_club:map:list_view' club_slug=request.club.slug %}"><i class="fa-regular fa-map"></i>  Maps</a>
            </li>
            <li>
                <a class="flex-sm-fill text-sm-center nav-link {% if request.resolver_match.view_name|slice:':25' in 'dashboard_club:event_set:' %}active{% endif %}"
                   href="{% url 'dashboard_club:event_set:list_view' club_slug=request.club.slug %}"><i class="fa-solid fa-folder-open"></i> Event Sets</a>
            </li>
            <li>
                <a class="flex-sm-fill text-sm-center nav-link {% if request.resolver_match.view_name|slice:':21' == 'dashboard_club:event:' %}active{% endif %}"
                   href="{% url 'dashboard_club:event:list_view' club_slug=request.club.slug %}"><i class="fa-solid fa-trophy"></i> Events</a>
            </li>
        </ul>
        {% block sub_sub_content %}
            <p>
                Organisation page hosted at <a href="{{ club.nice_url }}">{{ club.nice_url }}</a>
            </p>
            <p>
                <a class="btn btn-info mb-1 me-1"
                   href="{% url 'dashboard_club:custom_domain_view' club_slug=request.club.slug %}"><i class="fa-solid fa-link"></i> Custom Domain Management</a>
                {% if club.analytics_site %}
                    <a href="{{ club.analytics_site }}" class="btn btn-info mb-1"><i class="fa-solid fa-chart-pie"></i> Pages Analytics</a>
                {% endif %}
            </p>
            <hr />
            <h2>Edit info</h2>
            <p id="invite-btn">
                <a class="btn btn-info mb-1"
                   href="{% url 'dashboard_club:send_invite_view' club_slug=request.club.slug %}"><i class="fa-solid fa-user-plus"></i> Invite more people</a>
            </p>
            <form action=""
                  method="post"
                  enctype="multipart/form-data"
                  id="change_form">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary mb-1 me-1" id="submit-btn">
                    <i class="fa-solid fa-floppy-disk"></i> Save
                </button>
                <a href="{% url 'dashboard_club:delete_view' club_slug=request.club.slug %}"
                   class="btn btn-danger mb-1"><i class="fa-solid fa-trash-can"></i> Delete</a>
            </form>
            {% if club.upgraded %}
                <hr />
                <p class="p-1 text-center">
                    Thank you for using our paid plan! You can manage your subscription on <a href="https://app.lemonsqueezy.com/my-orders" target="_blank" rel="nofollow noopener">LemonSqueezy</a>.
                </p>
            {% endif %}
        {% endblock sub_sub_content %}
    {% endblock pre_menu_content %}
{% endblock sub_content %}

{% block extra_body %}
    {% if request.resolver_match.view_name == 'dashboard_club:edit_view' %}
        <script src="{% static 'scripts/load-local-variables.js' %}?_=2023112700" data-api-base-url="{% host_url 'api_doc' host 'api' %}" data-club-slug="{{ club.slug }}" data-club-nice-url="{{ club.nice_url }}" data-club-has-analytics="{% if club.analytics_site %}1{% endif %}">
        </script>
        {% compress js %}
            <script src="{% static 'vendor/umbrella-3.3.1/umbrella.min.js' %}"></script>
            <script src="{% static 'vendor/tom-select-2.0.1/tom-select.custom.js' %}"></script>
            <script src="{% static 'vendor/reqwest-2.0.5/reqwest.min.js' %}"></script>
            <script src="{% static 'vendor/slugify-1.6.5/slugify.js' %}"></script>
            <script src="{% static 'scripts/dashboard/common.js' %}"></script>
            <script src="{% static 'scripts/dashboard/club_edit.js' %}"></script>
            <script src="{% static 'scripts/submit-form-commons.js' %}"></script>
        {% endcompress %}
    {% endif %}
{% endblock extra_body %}
