__pycache__/*
.circleci/*
.git/*
.github/*
.ruff_cache/*
cache/*
cypress/*
docker/*
env/*
letsencrypt/*
logs/*
media/*
nginx/*
node_modules/*
static/*
tmp/*
var/*
.coverage
.coveragerc
.deepsource.toml
.editorconfig
.gitignore
.npmrc
.pre-commit-config.yaml
.pyup.yaml
contributions.md
coverage.xml
cypress.config.json
da
dc
gen-local-cert.sh
LICENSE
Makefile
package.json
pnpm-lock.yaml
README.md
requirements.in
test
*.json.gz
*.sqlite3
./~/*
