{% extends "club/base.html" %}
{% load hosts static %}
{% block favicon %}
    <link rel="apple-touch-icon"
          href="{% static 'apple-touch-icon.png' %}?v=2025" />
    <link rel="icon" sizes="32x32" href="{% static 'favicon.ico' %}?v=2025" />
    <link rel="manifest" href="{% static 'manifest.json' %}?v=2025" />
{% endblock favicon %}

{% block content %}
    <div class="text-center">
        <h3>Club not found...</h3>
        <p>Join our platform and start using this domain for the live GPS tracking of your events.</p>
        <a href="{% host_url 'site:account_signup' host 'www' %}" class="btn btn-success">Join</a> or <a href="{% host_url 'site:account_login' host 'www' %}">Login</a>
    </div>
{% endblock content %}
