{% extends "base.html" %}
{% load define_action static %}
{% block favicon %}
    {% if event.club %}
        {% define event.club as club %}
    {% endif %}
    <link rel="apple-touch-icon"
          href="{{ club.nice_url }}apple-touch-icon.png?v={{ club.logo_hash }}" />
    <link rel="icon"
          sizes="32x32"
          href="{{ club.nice_url }}favicon.ico?v={{ club.logo_hash }}" />
    <link rel="manifest"
          href="{{ club.nice_url }}manifest.json?v={{ club..modification_date.timestamp }}" />
{% endblock favicon %}
