{% load hosts static %}
{% if not is_event_page %}
    <footer id="myFooter">
        <div class="second-bar">
            <div class="container{% if is_event_page %}-fluid{% endif %}">
                <div class="logosmall site-name my-0 py-0">
                    <div class="px-0 pt-2">
                        <a href="https://www.routechoices.com/"
                           class="d-flex justify-content-end">
                            <div class="px-2">
                                <div style="font-size:.85em;line-height: 1em;">ROUTECHOICES</div>
                                <div style="font-size:.85em;line-height: 1em;text-align: right;">LIVE GPS</div>
                            </div>
                            <div>
                                <img src="{% static 'img/logo.svg' %}?v=2025"
                                     alt="Site logo"
                                     width="40"
                                     style="vertical-align: top;">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endif %}
