{% load hosts static %}
<header class="navbar navbar-expand-md navbar-dark bg-primary"
        style="color: #fff;
               background-color: #111 !important">
    <div class="container">
        <a class="navbar-brand site-name d-inline-flex"
           href="{% host_url 'site:landing_page' host 'www' %}" style="margin-top:5px;">
            <div class="d-inline-block">
                <img src="{% static 'img/logo.svg' %}?v=2025"
                     alt="Site logo"
                     height="33"
                     style="vertical-align: top">
            </div>
            <div class="px-2">
                <div style="font-size:.85em;line-height: 1em;text-align: left;">ROUTECHOICES</div>
                <div style="font-size:.85em;line-height: 1em;">LIVE GPS TRACKING</div>
            </div>
        </a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</header>
