{% load compress i18n %}
<h3>{% blocktranslate with filter_title=title %} By {{ filter_title }} {% endblocktranslate %}</h3>
<ul class="admin-filter-{{ title|cut:' ' }}">
{% if choices|slice:"20:" %}
    <li>
    <select style="width: 95%;" class="selection dropdown-admin-filter">
    {% for choice in choices %}
        <option{% if choice.selected %} selected="selected"{% endif %}
         value="{{ choice.query_string|iriencode }}">{{ choice.display }}</option>
    {% endfor %}
    </select>
    </li>
    {% compress js %}
    <script type="text/javascript">
        django.jQuery(".admin-filter-{{ title|cut:' ' }} select").on("change", function(e) {
            const opt = this.options[this.selectedIndex].value;
            console.log(opt)
            window.location = window.location.pathname + opt;
        });
    </script>
    {% endcompress %}
{% else %}
    {% for choice in choices %}
            <li{% if choice.selected %} class="selected"{% endif %}>
            <a href="{{ choice.query_string|iriencode }}">{{ choice.display }}</a></li>
    {% endfor %}
{% endif %}
</ul>
