{% extends "base.html" %}
{% load compress static %}
{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet"
          href="{% static 'styles/site/tracker.css' %}?_=2022022600" />
{% endblock extra_head %}

{% block head_title %}Trackers | Routechoices — Live GPS Tracking{% endblock %}

{% block contentup %}
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="w-100"
                 style="background-image: linear-gradient(0, var(--rc-gradient-filter), var(--rc-gradient-filter)), linear-gradient(120deg, #daad75cc 0%, #bae391cc 100%)">
                <div class="container content" style="min-height: 100px">
                    <div class="row text-center font-weight-bold">
                        <h1 style="font-family: Atkinson Hyperlegible, sans-serif;font-weight: 700">GPS Trackers</h1>
                    </div>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 1 1"
                 width="100%"
                 height="2em"
                 preserveAspectRatio="none"
                 fill="var(--bs-body-bg)"
                 style="margin-top: -2em"
                 class="p-0">
                <path d="M0 0 V1 H1" />
            </svg>
        </div>
    </div>
    <div class="container content">
        <div class="row">
            <div class="col-12 mx-auto">
                <div class="card border-0 shadow rounded-3 my-3">
                    <div class="card-body p-4 p-sm-5">
                        <div class="row">
                            <div class="d-none d-md-block col-md-5">
                                <div class="row justify-content-between mb-3">
                                    <div class="col align-self-center text-center">
                                        <picture>
                                            <source srcset="{% static 'img/iphone_tracker.webp' %}?v=20230811"
                                                    type="image/webp" />
                                            <img src="{% static 'img/iphone_tracker.png' %}?v=20230811"
                                                 alt="Smart Phone"
                                                 height="150"
                                                 width="150" />
                                        </picture>
                                    </div>
                                    <div class="col align-self-center text-center">
                                        <picture>
                                            <source srcset="{% static 'img/garmin.webp' %}?v=20230801"
                                                    type="image/webp" />
                                            <img src="{% static 'img/garmin.png' %}?v=20230801"
                                                 alt="Garmin"
                                                 height="150"
                                                 width="150" />
                                        </picture>
                                    </div>
                                    <div class="col align-self-center text-center">
                                        <picture>
                                            <source srcset="{% static 'img/TMT250.webp' %}?v=20230801" type="image/webp" />
                                            <img src="{% static 'img/TMT250.png' %}?v=20230801"
                                                 alt="Teltonika TMT250"
                                                 height="150"
                                                 width="150">
                                        </picture>
                                    </div>
                                    <div class="col align-self-center text-center">
                                        <picture>
                                            <source srcset="{% static 'img/gl320mg.webp' %}?v=20230801"
                                                    type="image/webp" />
                                            <img src="{% static 'img/gl320mg.png' %}?v=20230801"
                                                 alt="Queclink GL320MG"
                                                 height="150"
                                                 width="150" />
                                        </picture>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-7">
                                <h2 class="fw-bold">Sharing your position</h2>
                                <p>
                                    Sharing your position to provide live GPS tracking can be done in different ways.
                                </p>
                                <p>You can use our smartphone application, or a modern Garmin watch loaded with our data field, or one of the supported dedicated GPS trackers.
                                </p>
                                <p>
                                    In any case, your device is assigned a unique Routechoices "Device ID" that is used to identify your device with Routechoices.com. You will need it when entering events.
                                </p>
                                <p>
                                    Read the specific instructions for your device type below.
                                </p>
                            </div>
                        </div>
                        <div>
                            <h2 class="fw-bold">Specific Instructions</h2>
                            <ul class="nav nav-tabs my-3" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button
                                        class="nav-link active"
                                        id="apps-tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#apps-pane"
                                        type="button"
                                        role="button"
                                        aria-controls="apps-pane"
                                        aria-selected="true"
                                    >
                                        <i class="fa-brands fa-android"></i> Android &amp; <i class="fa-brands fa-apple"></i> iOS
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button
                                        class="nav-link"
                                        id="garmin-tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#garmin-pane"
                                        type="button"
                                        role="button"
                                        aria-controls="garmin-pane"
                                        aria-selected="true"
                                    >
                                        <svg width="15px" height="15px" viewBox="0 0 24 24" role="img" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M22.017 22.67H1.984c-.77 0-1.388-.383-1.694-1.002-.387-.61-.387-1.39 0-2.002L10.304 2.33c.385-.615 1.002-1 1.695-1 .77 0 1.386.385 1.69 1l10.02 17.336c.387.617.387 1.39 0 2.002-.31.695-.927 1.002-1.693 1.002z"/></svg> Garmin
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button
                                        class="nav-link"
                                        id="dedicated-trackers-tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#dedicated-trackers-pane"
                                        type="button"
                                        role="button"
                                        aria-controls="dedicated-trackers-pane"
                                        aria-selected="true"
                                    >
                                        <i class="fa-solid fa-satellite-dish"></i> Dedicated GPS trackers
                                </button>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="apps-pane" class="tab-pane show active" role="tabpanel" aria-labelledby="apps-tab" tabindex="0">
                                    <h3 class="fw-bold">Smartphones Apps</h3>
                                    <div class="mb-3">
                                        <h5>Instalation:</h5>
                                        <p>
                                            <a href="https://play.google.com/store/apps/details?id=com.routechoices.routechoicestracker"
                                               class="me-1 text-decoration-none">
                                                <img alt="Get it on Google Play"
                                                     height="60"
                                                     width="202"
                                                     src="{% static 'img/google-play-badge.svg' %}" />
                                            </a>
                                            <a href="https://apps.apple.com/us/app/routechoices-tracker/id1570437272?itsct=apps_box_link&itscg=30200" class="me-1 text-decoration-none">
                                                <img alt="Get it on Apple App Store"
                                                     height="60"
                                                     width="180"
                                                     src="{% static 'img/apple-app-store-badge.svg' %}" />
                                            </a>
                                        </p>
                                        <p >
                                            Install the app from the <a href="https://play.google.com/store/apps/details?id=com.routechoices.routechoicestracker">Google Play App</a> on Android, or the <a href="https://apps.apple.com/us/app/routechoices-tracker/id1570437272?itsct=apps_box_link&itscg=30200">Apple App Store</a> on iOS
                                            <br>
                                            "Routechoices Tracker", by OneHertz.
                                        </p>
                                    </div>
                                    <div class="mb-3">
                                        <h5>How It Works:</h5>
                                        <ol>
                                            <li>
                                                Open the app.
                                            </li>
                                            <li>
                                                Grant it access to high accuracy location at all time, as well as background execution permission. This ensures uninterrupted GPS tracking throughout your activity e.g. when your phone goes to sleep.
                                            </li>
                                            <li>
                                                Your 8 digits Device ID is then displayed in the center of the screen.
                                            </li>
                                            <li>
                                                Press "Start Live GPS" when you're ready to begin your run. The Device ID turns green when you are "Live".
                                            </li>
                                            <li>
                                                Go on your adventure!
                                            </li>
                                            <li>
                                                Press "Stop Live GPS" when you've finished.
                                            </li>
                                        </ol>
                                    </div>
                                    <div class="mb-3">
                                        <p>
                                            <h5><i class="fa-solid fa-triangle-exclamation" style="color:red;font-size:1.2em"></i> Troubleshooting:</h5>
                                            <ul>
                                                <li>
                                                    Ensure that high-accuracy GPS is enabled in your phone's system settings.
                                                </li>
                                                <li>
                                                    Recent Android versions may restrict background processes to improve battery life, which can affect apps like Routechoices Tracker. To ensure continuous tracking, add Routechoices Tracker to battery optimization exceptions in your device settings.
                                                </li>
                                                <li>
                                                    Some Android manufacturers have additional battery-saving settings—make sure to disable them or add the app to their exceptions list.
                                                </li>
                                                <li>
                                                    iOS restricts applications that can run in the background, make sure that background execution is allowed and Routechoices Tracker has permission to access location services at all times.
                                                </li>
                                                <li>
                                                    iOS also limits when an application can fetch location data, ensure that the privacy setting for location access in "Settings > Privacy > Location Services > Routechoices Tracker" is set to "Always"
                                                </li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                                <div id="garmin-pane" class="tab-pane" role="tabpanel" aria-labelledby="garmin-tab" tabindex="0">
                                    <h3 class="fw-bold">Garmin Watches App</h3>
                                    <div class="mb-3">
                                        <h5>Instalation:</h5>
                                        <p>
                                            <a href="https://apps.garmin.com/apps/89f2f5e6-0885-4549-baf0-415eb502f59a" class="me-1 text-decoration-none"><img src="{% static 'img/connectiq.jpg' %}" width="128" height="128" class="rounded"></a>
                                        </p>
                                        <p>
                                            Install the data field for Garmin watches from the <a href="https://apps.garmin.com/apps/89f2f5e6-0885-4549-baf0-415eb502f59a">Garmin Connect IQ App Store</a>
                                            <br>
                                            "Routechoices Tracker", by OneHertz.
                                        </p>

                                    </div>
                                    <div class="mb-3">
                                        <h5>How It Works:</h5>
                                        <ol>
                                            <li>
                                                Add the data field to the activity profiles in which you want to be tracked.
                                            </li>
                                            <li>
                                                Start an activity with the profile contaning the data field.
                                            </li>
                                            <li>
                                                The data field do displays your 8 digits Device ID next to the status of connection with the server (OFFLINE/LIVE).
                                            </li>
                                            <li>
                                                You will be sending location data to Routechoices.com server as soon, and as long, as your watch connects with bluetooth to the Garmin Mobile App on a phone that has network data, this no matter if the data field is visible or not.
                                            </li>
                                            <li>
                                                Stop the activity and return to the main screen to stop sending your location data.
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                                <div id="dedicated-trackers-pane" class="tab-pane" role="tabpanel" aria-labelledby="dedicated-trackers-tab" tabindex="0">
                                    <h3 class="fw-bold">Dedicated GPS Trackers</h3>
                                    <div class="mb-3">
                                        <h5>Supported devices:</h5>
                                        <ul>
                                            <li>GT06 protocol devices</li>
                                            <li>H02 protocol devices</li>
                                            <li>Mictrack devices</li>
                                            <li>Queclink devices</li>
                                            <li>Teltonika devices</li>
                                            <li>Tracktape devices</li>
                                            <li>Xexun protocol devices</li>
                                            <li>Xexun2 protocol devices</li>
                                        </ul>
                                        <p class="text-muted">
                                            Own a product not listed above? <a href="{% url 'site:contact_view' %}">Enquire us</a> about adding support for its protocol!
                                        </p>
                                    </div>
                                    <div class="mb-3">
                                        <h5>Get a Device ID:</h5>
                                        <p>Devices must be registered with us.</p>
                                        <p>We let you get a Routechoices "Device ID" that is unique to your tracker's IMEI.</p>
                                        <form id="imeiForm" class="mb-3">
                                            <div class="form-group">
                                                <label for="IMEI" class="fw-bold">Tracker's IMEI</label>
                                                <input type="text"
                                                       class="form-control font-monospace text-muted mb-1 imei-input"
                                                       id="IMEI"
                                                       aria-describedby="IMEIHelp"
                                                       placeholder="•••••••••••••••"
                                                       required
                                                       inputmode="numeric"
                                                       maxlength="15">
                                                <div id="imeiErrorMsg" class="invalid-feedback d-none mb-1">
                                                    <i class="fa-solid fa-triangle-exclamation"></i> Invalid IMEI
                                                </div>
                                            </div>
                                            <button type="submit" id="submit-btn-imei" class="btn btn-primary">Submit</button>
                                        </form>
                                        <p>Or for H02 protocol trackers, the 10 digits serial number</p>
                                        <form id="h02Form">
                                            <div class="form-group">
                                                <label for="Serial Number" class="fw-bold">H02 Tracker's Serial Number</label>
                                                <input type="text"
                                                       class="form-control font-monospace text-muted mb-1 h02-input"
                                                       id="H02SN"
                                                       aria-describedby="H02Help"
                                                       placeholder="••••••••••"
                                                       required
                                                       inputmode="numeric"
                                                       maxlength="10">
                                                <div id="h02ErrorMsg" class="invalid-feedback d-none mb-1">
                                                    <i class="fa-solid fa-triangle-exclamation"></i> Invalid Serial Number
                                                </div>
                                            </div>
                                            <button type="submit" id="submit-btn-h02" class="btn btn-primary">Submit</button>
                                        </form>
                                        <br />
                                        <div id="imeiDevId" class="well d-none">
                                            <p>
                                                <b>IMEI/SN:</b> <code id="imeiRes"></code>
                                                <br />
                                                <b>Device ID:</b>
                                                <button type="button" class="btn btn-sm btn-secondary" id="copyDevIdBtn">
                                                    <span class="imeiDevId roboto"></span> <i class="fa-regular fa-copy fa-fw"></i>
                                                </button>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <h5>Configuration:</h5>
                                         <p>
                                            Configure the devices to share data over TCP with the server at address <code>routechoices.com</code> on the following port:
                                            <ul>
                                                <li>
                                                    <code>5023</code>: GT06
                                                </li>
                                                <li>
                                                    <code>5013</code>: H02
                                                </li>
                                                <li>
                                                    <code>5191</code>: Mictrack
                                                </li>
                                                <li>
                                                    <code>5004</code>: Queclink
                                                </li>
                                                <li>
                                                    <code>5027</code>: Teltonika
                                                </li>
                                                <li>
                                                    <code>2003</code>: TrackTape
                                                </li>
                                                <li>
                                                    <code>5006</code>: Xexun
                                                </li>
                                                <li>
                                                    <code>5233</code>: Xexun2
                                                </li>
                                            </ul>
                                            The recommended data push interval is 5 seconds, and the recommended GPS data acquisition interval is 1 second, but feel free to adjust the settings depending on your usage as this settings affect the battery life.
                                            <br />
                                            <a target="_blank" href="https://github.com/routechoiceslivegps/trackers-config" aria-label="Config file download page">Configuration file for most common devices</a>.
                                        </p>
                                    </div>
                                    <div>
                                        <h5 class="mt-3">Want to rent some GPS tracking devices for a single weekend or interested in acquiring some permanently?</h5>
                                        <p>
                                            <a href="{% url 'site:contact_view' %}">Contact us</a> for some informations about renting companies or resellers.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock contentup %}

{% block extra_body %}
    <script src="{% static 'scripts/load-local-variables.js' %}?_=2023112700"
            data-csrf-token="{{ csrf_token }}"></script>
    {% compress js %}
        <script src="{% static 'vendor/reqwest-2.0.5/reqwest.min.js' %}"></script>
        <script src="{% static 'vendor/umbrella-3.3.1/umbrella.min.js' %}"></script>
        <script src="{% static 'scripts/site/tracker.js' %}"></script>
    {% endcompress %}
{% endblock extra_body %}
