{% load compress hosts static %}
<footer id="myFooter">
    <div class="container">
        <div class="row mb-0">
            <div class="col-sm-3">
                <h5>Get started</h5>
                <ul>
                    <li>
                        <a href="{% host_url 'site:landing_page' host 'www' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% host_url 'public_events_view' host 'events' %}">Public Events</a>
                    </li>
                    <li>
                        <a href="{% host_url 'site:trackers_view' host 'www' %}">Trackers</a>
                    </li>
                    <li>
                        <a href="{% host_url 'site:pricing_view' host 'www' %}">Pricing</a>
                    </li>
                    <li>
                        <a href="{% host_url 'site:tos_view' host 'www' %}">Terms of Service</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Useful links</h5>
                <ul>
                    <li>
                        <a href="https://github.com/routechoiceslivegps">Source Code</a>
                    </li>
                    <li>
                        <a href="https://status.routechoices.com">Services Status <span id="status-indicator" class="status-indicator-default"></span></a>
                    </li>
                    <li>
                        <a href="{% host_url 'api_doc' host 'api' %}">API Documentation</a>
                    </li>
                    <li>
                        <a href="https://routechoices.eo.page/newsletter">Newsletter</a>
                    </li>
                    <li>
                        <a href="{% host_url 'site:contact_view' host 'www' %}">Contact Us</a>
                    </li>
                    <li>
                        <a href="{% host_url 'site:privacy_policy_view' host 'www' %}">Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-3 info">
                <h5>Information</h5>
                <p>Routechoices.com is an easy-to-use yet powerful live GPS tracking platform designed for orienteering and outdoor sports enthusiasts. Whether you're on a computer, tablet, or smartphone, you can effortlessly set up and view events where participants' live locations are displayed on high-precision maps.</p>
                <h5>Made in Finland 🇫🇮 🇪🇺 by</h5>
                <b>OneHertz</b>
                <br />
                FI-34130655
            </p>
        </div>
    </div>
</div>
<div class="second-bar">
    <div class="container">
        <div class="logo site-name">
            <a href="{% host_url 'site:landing_page' host 'www' %}"
               class="d-inline-flex">
                <div class="p-0">
                    <img src="{% static 'img/logo.svg' %}?v=2025"
                         alt="Site logo"
                         height="45"
                         style="vertical-align: top">
                </div>
                <div class="px-2 py-0">
                    <div style="font-size:.85em;line-height: 1em;">ROUTECHOICES</div>
                    <div style="font-size:.85em;line-height: 1em;text-align: left;">LIVE GPS</div>
                </div>
            </a>
        </div>
    </div>
</div>
</footer>
{% compress js %}
    <script src="{% static '/scripts/site/footer.js' %}"></script>
{% endcompress %}
<!-- Footer -->
